.page-header {
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    padding: 1.5%;
}

.page-header__logo-container {
    flex-direction: row;
}

.page-header__logo-container--img {
    height: 75px;
    width: unset;
}

.page-header__logo-container--name {
    font-size: 3rem;
}

.page-header__navbar {
    width: fit-content;
}

.page-header__navbar--item-list {
    width: fit-content;
}

.page-header__navbar--item {
    margin-right: 20px;
}

.page-header__navbar--item:not(:last-child)::after {
    content: none;
}

.main-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.aside-container {
    flex-direction: column;
    height: unset;
    padding: 1%;
    width: 20%;
}

.aside-container__blury-card {
    height: 250px;
    margin: 4% 0;
    width: 100%;
}

.info-article {
    justify-content: end;
    width: 80%;
}

.medacards-container {
    justify-content: space-evenly;
}

.medacard {
    padding: 0 20px;
}

.medacard-body {
    max-width: 450px;
    min-width: unset;
}

.footer-container>p {
    font-size: 2rem;
}

.footer-container>.signature {
    font-size: 3rem;
}

.footer-container>a>img {
    width: 75%;
}