@font-face {
    font-family: 'medabots-regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Medabots-L79n.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header {
    align-items: center;
    background-color: darkblue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
}

.page-header__logo-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.page-header__logo-container--img {
    max-width: 75%;
}

.page-header__logo-container--name {
    color: orangered;
    font-family: 'medabots-regular';
}

.page-header__navbar {
    width: 80%;
}

.page-header__navbar--item-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px 0;
}

.page-header__navbar--item {
    font-family: 'medabots-regular';
    font-size: 2.5rem;
    width: 100%;
}

.page-header__navbar--anchor {
    background-color: blue;
    color: whitesmoke;
    display: inline-block;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.page-header__navbar--anchor:hover {
    color: yellow;
    font-weight: 600;
    text-shadow: 2px 2px 10px orange, -2px -2px 10px orange;
}

.main-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.aside-container {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    padding: 3%;
    width: 100%;
}

.aside-container__blury-card {
    align-items: center;
    background-color: rgba(46, 46, 46);
    border-radius: 15px;
    display: flex;
    height: 150px;
    margin: 1%;
    position: relative;
    width: 48%;
}

.aside-container__blury-card:hover {
    border: 3.5px solid yellow;
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px orange, -1px -1px 5px 5px orange;
}

.aside-container__blury-card:hover>.aside-container__blury-card--text {
    text-shadow: 1px 1px 4px orange, -1px -1px 4px orange;
}

.aside-container__blury-card--text {
    color: yellow;
    font-family: 'medabots-regular';
    font-size: 2.5rem;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.aside-container__blury-card--img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
}

.info-article {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: space-evenly;
    padding: 1% 2%;
    text-align: justify;
}

.info-article__section>h1 {
    font-size: 3rem;
    margin: 3% 0;
}

.info-article__section>h2 {
    font-size: 2rem;
    margin: 2% 0;
}

.info-article__section>p {
    margin: 1% 0;
}

.medacards-container {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2% 0 50px;
    width: 100%;
}

.medacard {
    align-items: center;
    background-color: #7e7e7e;
    border: 4px double orange;
    border-radius: 35px;
    box-shadow: 12px 12px 6px 4px firebrick;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 600px;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

.medacard>* {
    align-items: center;
    display: flex;
}

.medacard-header {
    background-color: orange;
    border: 4px outset darkslategray;
    border-radius: 35px;
    flex-direction: row;
    font-family: 'medabots-regular';
    font-size: 2.5rem;
    font-weight: 900;
    height: 60px;
    justify-content: space-between;
    min-width: fit-content;
    padding: 5px;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 2px darkslategray;
    text-transform: uppercase;
    top: -27px;
    z-index: 1;
}

.medacard-header__medal-logo {
    height: 80%;
    margin: 0 5px;
}

.medacard-body {
    bottom: 2.5vh;
    flex-direction: column;
    font-size: 1rem;
    height: fit-content;
    min-width: 300px;
    padding: 0 2vw;
    width: 30vw;
}

.medacard-body__image {
    border: 2px solid darkslategray;
    border-radius: 20px;
    height: 250px;
    object-fit: cover;
    position: relative;
    top: -15px;
    width: 325px;
}

.medacard-body__description {
    background-color: #acacac;
    border: 4px double darkslategray;
    border-radius: 20px;
    padding: 5px 10px;
    width: 325px;
}

.medacard-body__description--title {
    font-family: 'medabots-regular', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1%;
}

.medacard-body__description--content {
    font-family: 'Orbitron', sans-serif;
    text-align: justify;
    text-justify: auto;
}

.medacard-body__separator {
    border-color: orange;
    margin: 2% auto;
    width: 300px;
}

.medacard-body__footer {
    height: 100%;
}

.medacard-body__footer--logo {
    height: 50px;
    text-align: center;
}

.footer-container {
    align-items: center;
    background-color: darkblue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1.5%;
}

.footer-container>p {
    font-size: 2rem;
    margin: 1%;
}

.footer-container>.signature {
    color: orange;
    font-family: 'medabots-regular';
    font-size: 2.5rem;
    margin: 1%;
    text-align: center;
}

.footer-container>a {
    height: 100%;
    text-align: center;
    margin: 1%;
}

.footer-container>a>img {
    width: 25%;
}