.page-header__logo-container--img {
    width: 75%;
}

.page-header__navbar--item-list {
    flex-direction: row;
    justify-content: center;
}

.page-header__navbar--item {
    width: fit-content;
}

.page-header__navbar--item:not(:last-child)::after {
    content: url(../img/medal-small2.png);
    margin: 0 2vw;
}

.page-header__navbar--anchor {
    background-color: unset;
    width: fit-content;
}

.aside-container {
    justify-content: space-evenly;
}

.aside-container__blury-card {
    width: calc(90% / 4);
}

.medacard {
    padding: 0 40px;
}

.footer-container {
    align-items: center;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
}

.footer-container>p {
    font-size: 1.5rem;
}

.footer-container>.signature {
    font-size: 2.5rem;
}

.footer-container>a {
    height: fit-content;
    width: 12%;
}

.footer-container>a>img {
    width: 100%;
    margin: 0;
}